<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Réinitialisation réussie !</h4>
                <p>Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
                <hr>
                <p class="mb-0"><a href="#" class="btn btn-success">Retour à la page de connexion</a></p>
            </div>
        </div>
    </div>
</div>

