/* Styles généraux
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00b30f;
  }
  
  .alert {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    button {
      width: 100%;
    }
  }
   */

   /* .create-compte-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .suggested-password {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
  }
   */

   .create-compte-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .suggested-password {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .vulnerability-message {
    color: blue;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .btn-primary:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }
  
/* create-compte.component.css */
.create-compte-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.copy-message {
  color: green;
  margin-top: 10px;
}
