<!-- connexion.component.html -->

<form [formGroup]="loginForm" (ngSubmit)="connexion()" class="login-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="entrer votre  adresse email">
      <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="invalid-feedback">
        <div *ngIf="emailCtrl.hasError('required')">Ce champs est obligatoire .</div>
        <div *ngIf="emailCtrl.hasError('email')">L'email n'est pas valide.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="passwordValue">Mot de passe</label>
      <input type="passwordValue" id="passwordValue" class="form-control" formControlName="passwordValue" placeholder="Entrer votre mot de passe">
      <div *ngIf="passwordValueCtrl.invalid && (passwordValueCtrl.dirty || passwordValueCtrl.touched)" class="invalid-feedback">
        <div *ngIf="passwordValueCtrl.hasError('required')">Ce champs est obligatoire.</div>
        <div *ngIf="passwordValueCtrl.hasError('minlength')">Le mot de passe doit contenir au moins 12 caractères.</div>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
  