<div class="container">
  <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">
    <!-- Champ Email -->
    <div class="form-group">
      <label for="email">Email *</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="text-danger">
        <div *ngIf="emailCtrl.hasError('required')" class="required-message">Le champ Email est obligatoire</div>
        <div *ngIf="emailCtrl.hasError('email')" class="required-message">Email invalide</div>
      </div>
    </div>

    <!-- Champ Mot de passe -->
    <div class="form-group">
      <label for="password">Mot de passe *</label>
      <input type="password" id="password" formControlName="passwordValue" class="form-control">
      <div *ngIf="passwordValueCtrl.invalid && (passwordValueCtrl.dirty || passwordValueCtrl.touched)" class="text-danger">
        <div *ngIf="passwordValueCtrl.hasError('required')" class="required-message">Le mot de passe est obligatoire</div>
        <div *ngIf="passwordValueCtrl.hasError('minlength')" class="required-message">Le mot de passe doit contenir au moins 6 caractères</div>
      </div>
    </div>

    <!-- Champ Nom d'utilisateur -->
    <div class="form-group">
      <label for="username">Nom d'utilisateur *</label>
      <input type="text" id="username" formControlName="username" class="form-control">
      <div *ngIf="usernameCtrl.invalid && (usernameCtrl.dirty || usernameCtrl.touched)" class="text-danger">
        <div *ngIf="usernameCtrl.hasError('required')" class="required-message">Le nom d'utilisateur est obligatoire</div>
      </div>
    </div>

    <!-- Champ Date de naissance -->
    <div class="form-group">
      <label for="birthdate">Date de naissance *</label>
      <input type="date" id="birthdate" formControlName="birthdate" class="form-control">
      <div *ngIf="birthdateCtrl.invalid && (birthdateCtrl.dirty || birthdateCtrl.touched)" class="text-danger">
        <div *ngIf="birthdateCtrl.hasError('required')" class="required-message">La date de naissance est obligatoire</div>
      </div>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" [disabled]="inscriptionForm.invalid" class="btn btn-primary">S'inscrire</button>
  </form>
</div>
