<div class="inscription-container">
  <h2>Inscription</h2>
  <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" class="form-control" type="email">
      <div *ngIf="inscriptionForm.get('email')?.invalid && inscriptionForm.get('email')?.touched" class="error-message">
        Email requis et doit être valide.
      </div>
      <!-- Afficher l'erreur d'existence d'email ici -->
      <!-- Afficher l'erreur générique ici -->
      <div *ngIf="errorMessage && !errorMessage.includes('L\'email existe déjà')" class="error-message">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group">
      <label for="passwordValue">Mot de Passe</label>
      <div class="input-group">
        <input id="passwordValue" formControlName="passwordValue" class="form-control" [type]="passwordVisible ? 'text' : 'password'">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
          </button>
        </div>
      </div>
      <div *ngIf="inscriptionForm.get('passwordValue')?.invalid && inscriptionForm.get('passwordValue')?.touched" class="error-message">
        Le mot de passe doit comporter au moins 12 caractères.
      </div>
      <div *ngIf="passwordStrengthMessage" class="strength-message">
        {{ passwordStrengthMessage }}
      </div>
      <div *ngIf="passwordVulnerabilityMessage" class="vulnerability-message">
        {{ passwordVulnerabilityMessage }}
      </div>
      
      <div *ngIf="suggestedPassword" class="suggested-password">
        Mot de passe suggéré : {{ suggestedPassword }}
        <button type="button" class="btn btn-outline-secondary" (click)="copySuggestedPassword()">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmer le Mot de Passe</label>
      <input id="confirmPassword" formControlName="confirmPassword" class="form-control" type="password">
      <div *ngIf="inscriptionForm.hasError('passwordMismatch') && inscriptionForm.get('confirmPassword')?.touched" class="error-message">
        Les mots de passe ne correspondent pas.
      </div>
    </div>

    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input id="username" formControlName="username" class="form-control" type="text">
      <div *ngIf="inscriptionForm.get('username')?.invalid && inscriptionForm.get('username')?.touched" class="error-message">
        Le nom d'utilisateur est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="birthdate">Date de Naissance</label>
      <input id="birthdate" formControlName="birthdate" class="form-control" type="date">
      <div *ngIf="inscriptionForm.get('birthdate')?.invalid && inscriptionForm.get('birthdate')?.touched" class="error-message">
        La date de naissance est requise.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="inscriptionForm.invalid || !isPasswordConfirmed || isCheckingPassword">S'inscrire</button>
    </div>
  </form>
</div>
