<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="newPassword">Nouveau mot de passe:</label>
    <input id="newPassword" formControlName="newPassword" type="password">
    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
      <small>Le mot de passe est requis et doit contenir au moins 12 caractères.</small>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">Réinitialiser le mot de passe</button>
    <div *ngIf="successMessage">{{ successMessage }}</div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
  