<div class="test-password-container">
    <form [formGroup]="testPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Entrez votre mot de passe:</label>
        <div class="password-input-container">
          <input 
            [type]="passwordFieldType" 
            formControlName="password" 
            id="password" 
            class="form-control" 
          />
          <button 
            type="button" 
            class="toggle-password-btn" 
            (click)="togglePasswordVisibility()"
            aria-label="Toggle password visibility"
          >
            <i [ngClass]="passwordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </button>
          <button 
            type="button" 
            class="copy-password-btn" 
            (click)="copyPassword()"
            aria-label="Copy password to clipboard"
          >
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Vérifier le mot de passe</button>
    </form>
  
    <div *ngIf="passwordStrengthMessage" [ngClass]="{'strong': passwordStrengthMessage.includes('fort'), 'weak': passwordStrengthMessage.includes('faible')}" class="message">
      <p>{{ passwordStrengthMessage }}</p>
    </div>
    <div *ngIf="passwordVulnerabilityMessage" [ngClass]="{'safe': passwordVulnerabilityMessage.includes('n\'est pas vulnérable'), 'vulnerable': passwordVulnerabilityMessage.includes('vulnérable')}" class="message">
      <p>{{ passwordVulnerabilityMessage }}</p>
    </div>
    <div *ngIf="suggestedPassword" class="suggested-password">
      <p>Mot de passe suggéré : <strong>{{ suggestedPassword }}</strong></p>
      <button type="button" class="btn btn-outline-secondary" (click)="copyToClipboard(suggestedPassword)">
        <i class="fa fa-clipboard"></i> 
      </button>
    </div>
  </div>
  