<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Reset Password</h2>
  
            <!-- Formulaire de réinitialisation de mot de passe -->
            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
              <div class="form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" formControlName="newPassword" type="password" class="form-control">
  
                <!-- Affichage des erreurs de validation -->
                <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched" class="invalid-feedback">
                  <div *ngIf="passwordForm.get('newPassword')?.errors?.['required']" class="text-danger">
                    New Password is required.
                  </div>
                  <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">
                    New Password must be at least 8 characters long.
                  </div>
                  <div *ngIf="passwordForm.get('newPassword')?.errors?.['vulnerablePassword']" class="text-danger">
                    Password is vulnerable.
                  </div>
                </div>
  
                <!-- Affichage de la sécurité du mot de passe -->
                <div *ngIf="secureMessage" class="valid-feedback">
                  {{ secureMessage }}
                </div>
              </div>
  
              <!-- Bouton de réinitialisation de mot de passe -->
              <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Reset Password</button>
            </form>
  
            <!-- Affichage des messages d'erreur globaux -->
            <div *ngIf="error" class="mt-3 text-danger">
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  