<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
      <div>
        <label for="newPassword">New Password</label>
        <input id="newPassword" formControlName="newPassword" type="password" />
        <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
          New Password is required and must be at least 8 characters long.
        </div>
      </div>
      <button type="submit" [disabled]="passwordForm.invalid">Reset Password</button>
    </form>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
  </div>
  