.password-criteria {
    margin-top: 10px;
  }
  
  .criteria-message {
    color: #dc3545; /* Rouge pour les messages d'erreur */
  }
  
  .invalid-feedback {
    color: #dc3545; /* Rouge pour les messages d'erreur */
  }
  
  .valid-feedback {
    color: #28a745; /* Vert pour les messages de confirmation */
  }